.main{
    width: 100%;
    height: 100%;
    border: 2px red;
}

.content{
    width: auto;
    height: auto;
    background-color: aqua;
    margin-left: 200px;
    margin-top: 70px;
    margin-right: 200px;
}

.header {
    padding-left: 50px;

}

.header1{
    height: 520px;
    background-color: aquamarine;
    border: 10px black;

}

.outer{
    margin-top: 30px;

}